body{
    text-align: center;
    }
    
  #gamearea
    {
      background-color: black;
      border-radius: 10px;
      /* color: white; */
      padding:20px;
    }
  
    input{
      color: white;
      background-color: orange;
      border: 0px;
    }
  
    input:focus {
      outline: none !important;
      border-color: #719ECE;
      /*box-shadow: 0 0 10px #719ECE;*/
    }

#col0 {
  color: white;
}

#col1 {
  color: white;
}

#col1-1 {
  color: white;
}

#col1-2 {
  color: white;
}

#col1-3 {
  color: green;
}

#col1-4 {
  color: green;
}

#col1-5 {
  color: white;
}

#guide {
  color: yellow;
  font-weight: 900;
}

#item {
  color:purple;
  font-weight: 900;
}

#feedbackArea {
  color: white;
}

#died {
  color: red;
}