body{
    text-align: center;
    }
    
  #gamearea
    {
      background-color: black;
      border-radius: 10px;
      color: white;
      padding:20px;
    }
  
    input{
      color: white;
      background-color: orange;
      border: 0px;
    }
  
    input:focus {
      outline: none !important;
      border-color: #719ECE;
      /*box-shadow: 0 0 10px #719ECE;*/
    }